* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: whitesmoke;
}

.card {
    margin: auto;
    width: 368px;
    background-color: white;
    border-radius: 15px;
}

.card__upper, .card__lower {
    padding: 16px;
}

.tag {
    padding: 6px 15px;
    border-radius: 15px;
    background-color: cyan;
    width: fit-content;
    margin: 10px 0;
    font-weight: bold;
    font-size: small;
}

.card__image {
    width: 336px;
    height: 152px;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    margin: 10px 0;
}

.description {
    margin-bottom: 15px;
}